#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media screen and (max-width:650px) {
  .phone{
    display: flex;
    flex-direction: column;
  }
  .cont{
    height: auto !important;
  }
  .sub-cont{
    width: auto !important;
  }
  
}