

div .tooltip{
    position: absolute;
    top:30%;
    font-size: 14px;
    background: #ffffff;
    color : #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68,-0.55,0.265,1.55);

}

div .tooltip::before{
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: var(--color);
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68,-0.55,0.265,1.55);
}

div .icon:hover .tooltip{
  
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    
}

div .icon:hover span ,
div .icon:hover .tooltip,
div .icon:hover a{
 text-shadow: 0px -1px 0px rgba(0,0,0,0.1);
}
.facebook{
    --color:#1877f2;
}
.github{
    --color:linear-gradient( 45deg ,#169a4d 0% 50%,rgb(1, 70, 15));
}
.email{
    --color:linear-gradient( 45deg ,#16869a 0% 50%,#057f94 50% 100%);
}

.icon:hover, 
.icon:hover .tooltip,
.icoon:hover .tooltip::before{
    background: var(--color);
    color: white;
}
